{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
<section class="hero">
    <h2>Contato</h2>
    <p>
        Quer falar comigo, tirar dúvidas ou trocar uma ideia?
        Me chama em qualquer um dos canais abaixo 👇
    </p>
</section>

<div class="projetos">
    <div class="card">
        <h3>📧 Email</h3>
        <p>
            <a href="mailto:emanuelladejesussoares09@gmail.com">
                emanuelladejesussoares09@gmail.com
            </a>
        </p>
    </div>

    <div class="card">
        <h3>📱 WhatsApp</h3>
        <p>
            <a href="https://wa.me/5527996906037" target="_blank">
                (27) 99690-6037
            </a>
        </p>
    </div>

    <div class="card">
        <h3>💼 LinkedIn</h3>
        <p>
            <a href=https://www.linkedin.com/in/manu-u-2155143ab?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app target="_blank">
                Ver perfil
            </a>
        </p>
    </div>
</div>
{% endblock %}
