{% extends "base.html" %}

{% block title %}Projetos{% endblock %}

{% block content %}
<section class="hero">
    <h2>Meus Projetos</h2>
    <p>Aqui estão alguns projetos que desenvolvi para praticar, aprender novas tecnologias e evoluir como desenvolvedora.</p>
</section>

<div class="projetos">
    <div class="card">
        <h3>Jogo da cobrinha</h3>
        <p>Jogo da cobrinha com, HTML e CSS, utilizando templates e ensinamentos do Fábio Monte.</p>
        <a href="#" class="btn">Ver projeto</a>
        <img src=" {{ url_for('static', filename='img/Gravando.gif') }}" class="cobrinha">
    </div>

    <div class="card">
        <h3>Video do Pitch o</h3>
        <p>Projeto desenvolvido por mim e alguns alunos em grupo.</p>
        <a href="#" class="btn"> Ver video</a>
        <img src=" {{ url_for('static', filename='img/pitch (1).gif') }}" class="pitch">
    </div>
</div>
{% endblock %}


